.address{font-size: 0.8823rem;line-height: 0.8823rem;}

/*地址列表*/
.address .add-list{background: #FFFFFF;color: rgb(51,51,51);}
.address .pd{padding-left: 0.7333rem;padding-right: 0.7333rem;padding-bottom: 0.7588rem;}
.address .add-edi{padding: 0.7588rem 0.7333rem;background: #FFFFFF;}
.address .add-edi:after{content: "";display: block;clear: both;}
.address .add-edi input[type=radio]{border: 1px solid rgb(51,51,51);width: 1rem;height: 1rem;position: absolute;left: 0;top: -0.3rem;
border-radius: 0.1rem;
-webkit-border-radius: 0.1rem;
-moz-border-radius: 0.1rem;
-ms-border-radius:0.1rem;
}
@media only screen and (min-width: 376px) {
	.address .add-edi input[type=radio]{top: -0.22rem;}
}
.address .add-edi input[type=radio]:checked{background: url(../img/od-check.png) no-repeat center;background-size: 80% 80%;border-color: rgb(242,48,49);}
.address .add-edi input[type=radio]:checked + span{color: rgb(242,48,49);}
.address .edi-radio{position: relative;text-indent: 1.5rem;float: left;}
.address .add-edi img{width: 0.9rem;height: 0.9rem;margin-right: 0.2rem;}
.address .add-btn{position: fixed;bottom: 0;left: 0;width: 100%;max-width: 640px;}
.address .add-btn button{color: white;background: rgb(242,48,49);color: white;
width: 100%;padding: 0.8rem 0;font-size: 0.8rem;
}
@media only screen and (min-width: 640px) {
	.address .add-btn{left:50%;margin-left: -320px;}
}

.address-nil{text-align: center;margin-top: 5rem;}
.address-nil img{width: 40%;}
/*地址列表--end*/

/*添加地址*/
.address .an-list{background: #FFFFFF;padding: 0.7588rem 0.7333rem;border-bottom: 1px solid rgb(217,217,217);}
.address .an-bg{background: url(../img/right.png) no-repeat center right;background-size: 1.5rem 1.5rem;background-color: white;}
.address .an-list input[type="text"]{font-size: 0.8235rem;}
.address .an-list .title{float: left;margin-right: 0.3rem;width: 4rem;line-height: normal;}
/*添加地址--end*/

.address .map{width: 100%;height: 15rem;font-size: 16px;}
.address .search{background: #FFFFFF;padding: 0.5rem 0 0.5rem 0.5rem;}
.address .search:after{content: "";display: block;clear: both;}
.address .search .search-text{float: left;width: 18.5rem;}
.address .search .search-text input[type="text"]{background: rgb(242,242,242);font-size: 0.8rem;
padding: 0.5rem 0;text-indent: 0.5rem;width: 100%;
}
.address .search button{font-size: 0.8rem;padding: 0.5rem 0;text-align: center;display: block;width: 100%;position: relative;overflow: hidden;}

.address .map-list{padding: 0.8rem 0.5rem;border-bottom: 1px solid rgb(217,217,217);background: #FFFFFF;}
.address .map-list img{width: 0.6rem;margin-right: 0.3rem;}
.address .map-list .tip{color: rgb(242,48,49);}
