/*快速导航*/
.public-aside-wrap{position: fixed;top: 19rem;right: -14rem;width: 17.6rem;z-index: 101;
min-height: 3rem;
transition: 1s right;
-webkit-transition: 1s right;
-moz-transition: 1s right;
-ms-transition: 1s right;
}

.public-aside-top{background: rgba(0,0,0,0.75);color: white;
padding: 0.58823rem 0.58823rem 0.58823rem 0.4rem;float: left;
border-top-left-radius: 0.3rem;-webkit-border-top-left-radius: 0.3rem;
border-bottom-left-radius: 0.3rem;-webkit-border-bottom-left-radius: 0.3rem;}
.public-aside-wrap .title{font-size: 0.71rem;float: left;padding: 0 !important;background: none !important;}
.public-aside-wrap .aside-dx{width:1.3rem;height: 1.3rem;position: relative;top: 0.4rem;
background:url(../img/pro-icon.png) no-repeat top left;background-size: 8rem auto;
background-position: -6rem -2rem;
}
@media only screen and (max-width: 320px) {
	.public-aside-wrap .aside-dx{top: 0.5rem;}
}
@media only screen and (min-width: 321px) and (max-width: 375px) {
	.public-aside-wrap .aside-dx{top: 0.3rem;}
}
@media only screen and (min-width: 376px) {
	.public-aside-wrap .aside-dx{top: 0.25rem;}
}
.public-aside-wrap .aside-dx img{width: 100%;height: 100%;}
.public-aside-wrap .aside-nav{background: white;padding-top: 0.49rem;overflow: hidden;height: 3.5rem;position: absolute;
width: 14rem;right: 0;font-size: 0.8rem;top: -0.5rem;
border-top-left-radius: 0.3rem;-webkit-border-top-left-radius: 0.3rem;
border-bottom-left-radius: 0.3rem;-webkit-border-bottom-left-radius: 0.3rem;
}
.public-aside-wrap .aside-nav .aside-nav-icon{display: block;margin: auto;width: 1.3rem;height: 1.3rem;margin-top: 0.4rem;margin-bottom: 0.1rem;
background:url(../img/pro-icon.png) no-repeat top left;background-size: 8rem auto;background-position: -4rem 0;
}
.public-aside-wrap .aside-nav .ani-2{background-position: -4rem -4rem;}
.public-aside-wrap .aside-nav .ani-3{background-position: -4rem -2rem;}
.public-aside-wrap .aside-nav .ani-4{background-position: 0rem -2rem;}
.public-aside-wrap .aside-nav:after{content: "";display: block;clear: both;}
.public-aside-wrap .aside-nav li{float: left;width: 25%;text-align: center;}
.public-aside-wrap .aside-nav img{width: 1rem;height: 1rem;margin-top: 0.5rem;}
/*遮罩层*/
.mask{position: fixed;top: 0;left:0;width: 100%;background: rgba(0,0,0,0.5);z-index: 100;opacity:0;transition: 0.5s opacity;}
.mask-html{position: fixed;width: 100%;}/*遮罩层时设置根节点*/

/*加减*/
.btn_number{float: right;margin-right: 1rem;}
.btn_number button{background: rgb(242,242,242);color: rgb(204,204,204);width: 1.7647rem;height: 1.7647rem;text-align: center;line-height: 1.7647rem;font-size: 0.9rem;}
.btn_number input[type="text"]{width: 3rem;text-align: center;text-align: center;}
.btn_number .active{background: rgb(230,230,230);color: rgb(153,153,153);}
/*加减--带border*/
.border-btn-number{position: relative;height: 1.7647rem;width: 6.47rem;border: 1px solid rgb(217,217,217);padding-top: 0;margin-top: 0.5rem;float: none;}
.border-btn-number input[type="text"]{position: absolute;height: 1.6rem;left: 1.7647rem;width: 3rem;}
.border-btn-number button{background: #fff;color: rgb(100,100,100);position: absolute;}
.border-btn-number .btn_minues{left: 0;top: 0rem;border-right: 1px solid rgb(217,217,217);}
.border-btn-number .btn_add{right: 0;top: 0rem;border-left: 1px solid rgb(217,217,217);}
.border-btn-number .active{background:#FFFFFF !important;color:black;}

/*加入购物车*/
.list_btn button{width: 50%;text-align: center;padding: 1rem 0;color: white;background: red;float: left;font-size: 0.9rem;}
.list_btn .goods_btn{background: rgb(255,150,0);}
.list_btn .buy_btn{background: rgb(242,48,49);}
.list_btn .confirm{width: 100%;}

/*猜你喜欢*/
.public_love{background: rgb(245,245,245);}
.public_love .public_img_Wrap{width: 100%;height: 10.5rem;}
.public_love .list{width: 49.3%;background: #fff;margin-bottom: 0.4411rem;padding-bottom: 0.4411rem;min-width: 40%;}
.public_love .price{color: rgb(242,48,49);padding: 0.8823rem 0.5882rem 0 0.5882rem !important;white-space: nowrap;
font-size: 0.8823rem !important;line-height: 0.8823rem !important;
}
.public_love .list:nth-child(even){margin-right:1.4%;}
.public_love .title{padding: 0.5882rem 0.5882rem 0 0.5882rem;}
.public_love .liang{color: rgb(102,102,102);font-size: 0.71rem;line-height: 0.8823rem;}
.public_love img{width: 100%;height: 100%;}
.public_love:after{content: "";display: block;clear: both;}
.public_love .product-img{width: 100%;min-height: 10rem;max-height: 20rem;}

/*隐藏消息/商品详情头部*/
.hide_nav{position: absolute;right: 0.5rem;top: 2.5rem;width: 3.2rem;background: #FFFFFF;z-index: 105;padding: 0.3rem;font-size: 0.8rem;line-height: 1.7rem;display: none;}
.hide_nav img{float: left;width: 1rem;margin-right: 0.2rem;margin-top: 0.3rem;}

/*头部返回*/
.public-back-wrap{text-align: center;font-size: 1rem;line-height: 1rem;padding: 0.7647rem 0;color: #000000;background: #fff;border-bottom: 1px solid rgb(217,217,217);position: relative;}
.public-back-a{position:absolute;left: 0.7333rem;top: 0.7647rem;width: 1rem;height: 1rem;background: url(../img/left.png) no-repeat center left;background-size:auto 1rem;cursor: pointer;}
.public-edi{display: block;position: absolute;right: 0.7333rem;font-size: 0.8823rem;top: 0.7647rem;padding: 0;line-height: 1rem;color: rgb(102,102,102);}
#back_Wrap{position: fixed;left: 0;top: 0;width: 100%;max-width: 640px;background: #fff;z-index: 1;}
@media only screen and (min-width: 640px) {
	#back_Wrap{left: 50%;margin-left: -320px;}
}


/*产品列表*/
.public-od-con{padding: 0.7588rem 0.7333rem;background: #FFFFFF;}
.public-od-con:after{content:"";display: block;clear: both;}
.public-od-con-img{width: 3.9rem;height: 3.9rem;float: left;border: 1px solid rgb(230,230,230);padding: 0.3rem;
}

.public-od-con h1{padding: 0;font-size: 0.7647rem;font-weight: normal;color:black;line-height: 1.2rem;
display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;
min-height: 2.3474rem;
}
.public-od-cen{width: 11rem;font-size: 0.71rem;color: rgb(153,153,153);}
.public-od-cen .od-cen-btn{border: 1px solid rgb(242,48,49);color: rgb(242,48,49);font-size: 0.71rem;line-height: 0.71rem;
padding: 0.3rem 0.6rem;
}

.public-od-price{overflow: hidden;text-align: right;}
.public-od-price .price{color: rgb(242,48,49);}
.public-count{color: rgb(153,153,153);line-height: 1.2rem;}

.public-od-or{background: #FFFFFF;margin-top: 1rem;}
input[type="checkbox"]{width: 1rem;height: 1rem;border: 1px solid rgb(217,217,217);}
input[type="checkbox"]:checked{background: url(../img/od-check.png) no-repeat center;background-size:70% 70%}
.public-od-pay .title{position: relative;text-indent: 1.8rem;}
.public-od-pay .pay-icon{position: absolute;width: 1.5rem;height: 1.5rem;left: 0.5rem;top: 0.7rem;}
.public-od-mes input[type="text"]{font-size: 0.8rem;width: 95%;}
.public-od-oder{padding-bottom: 1rem;}
.public-od-oder button{color: white;background: rgb(242,48,49);width: 100%;padding: 0.6rem 0;font-size: 0.9rem;}
.public-od-con .price{color: rgb(242,48,49);font-size: 0.8823rem;line-height: 1.2rem;}
.public-od-con .count{color: rgb(102,102,102);font-size: 0.8235rem;line-height: 1.2rem;}
.public-od-auto{position: relative;overflow: hidden;width: auto;}
.public-od-con .red{color: rgb(242,48,49);}
/*产品列表*/







/*footer-slide 底部滑出部分*/
.public-footer-slide{bottom:0;left: 0;width: 100%;z-index: 110;background: #fff;opacity: 0;transition: 0.5s bottom,1s opacity;-webkit-transition: 0.5s bottom,1s opacity;}
.public-footer-slide .group{max-height: 15rem;overflow-y: scroll;clear: both;min-height: 10rem;}
.public-footer-slide .top .close{position: absolute;top: 0.5rem;right: 0rem;width: 1.5rem;height: 1.5rem;}
.public-footer-slide .select_ready{word-break: break-all;}
.public-footer-slide .list{font-size: 0.9rem;}
.public-footer-slide .list ul .active{border: rgb(242,48,49);border: 1px solid rgb(242,48,49);color: rgb(242,48,49);}
.public-footer-slide .list ul li{display:inline-block; margin-right: 0.5rem;border:1px solid rgb(200,200,200);color: rgb(146,146,146);padding: 0.2rem 1.25rem;border-radius: 0.2rem;-webkit-border-radius: 0.2rem;margin-bottom: 0.5rem;}
@media only screen and (min-width: 640px) {
	.public-footer-slide{width: 640px;left: 50%;margin-left: -320px;}
}
.public-footer-slide .img{top: -1rem;background: #fff; width: 6rem;height: 6rem;}
.public-footer-slide .right{overflow: hidden;}
.public-footer-slide .right .price{color: rgb(242,48,49);font-size: 1rem;}
.public-footer-slide .footer-slide .img img{width: 6rem;height: 6rem;}
.public-footer-slide .btn_number{float: right !important;margin-right: 1rem;}
.public-footer-slide .public-info{text-align: center;padding: 0.8rem 1rem;}
.public-footer-slide .public-info .close{position: absolute;right: 1rem;width: 1.5rem;top: 0.6rem;}

/*关闭弹窗*/
.del_comfirm{position: fixed;z-index: 121;width:17rem;background: #FFFFFF;left:50%;margin-left: -8.5rem;top: 25%;padding: 0.8rem 0rem;text-align: center;font-size: 1rem;
display: none;
}
.del_comfirm .del-close{width: 1.5rem;}
.del_title{padding: 2.5rem 0;}
.del_btn{text-align: right;}
.del_btn button{margin-right: 1rem;background: #FFFFFF;font-size: 0.8823em;cursor: pointer;}
.del_btn #queding{color: rgb(242,48,49);}
@media only screen and (min-width: 640px) {
	.del_comfirm{left: 50%;margin-left: -225px;}
}

/*关闭弹窗---end*/

/*底部菜单*/
.bottom-nav{width: 100%;max-width: 640px;height: 3.2rem;background: #FFFFFF;position: fixed;left: 0;bottom: 0;border-top: 1px solid rgb(217,217,217);font-size: 0.8rem;}
@media only screen and (min-width: 640px) {
	.bottom-nav{left: 50%;margin-left: -320px;}
}
.bottom-nav:after{content: "";display: block;clear: both;}
.bottom-nav ul{width: 100%;}
.bottom-nav li{width: 25%;text-align: center;padding: 0.5rem 0;float: left;}
.bottom-nav img{width: 1rem;height: 1rem;}
.bottom-nav em{font-style: normal;display: block;}
.bottom-nav .bottom-icon{width: 1.4rem;height: 1.2rem;line-height: 1.2rem;margin: auto;background: url(../img/footer-icon.png) no-repeat top left;
background-size: 6.5rem;
}
.bottom-nav .nav1{background-position:-2% 0;}
.bottom-nav .nav2{width: 1.6rem;background-position:31% 0;}
.bottom-nav .nav3{background-position:70% 0;}
.bottom-nav .nav4{background-position:102.5% 0;}
.bottom-nav .active{color: rgb(242,48,49);}
.bottom-nav .active .nav1{background-position:-2% 100%;}
.bottom-nav .active .nav2{width: 1.6rem;background-position:31% 100%;}
.bottom-nav .active .nav3{background-position:70% 100%;}
.bottom-nav .active .nav4{background-position:102.5% 100%;}
/*底部菜单--end*/

/*所有的联系客服*/
.public-server{color: rgb(102,102,102);text-align: center;margin: 1.17rem 0;}
.public-server img{width: 1rem;height: 1rem;margin-right: 0.2rem;position: relative;top: 0.15rem;}
/*联系客服--end*/
