/*申请退款.退货*/
.service_select{font-size: 0.8823rem;}
.service_select .ss-img{width: 4.70588rem;height:4.70588rem;border: 1px solid rgb(230,230,230);
border-radius: 0.3rem;margin-right: 0.58823rem;
-webkit-border-radius: 0.3rem;float: left;
}
.service_select .ss-img:after{content: "";display: block;clear: both;}
.service_select .ss-img img{float: left;width: 100%;height: 100%;}
.service_select .ss-wrapper{background: #FFFFFF;font-size: 0.8235rem;border-bottom: 1px solid rgb(230,230,230);}
.service_select .ss-wrapper:after{content: "";display: block;clear: both;}
.service_select .ss-con{overflow: hidden;}
.service_select .ss-title{min-height: 2.3rem;}
.service_select .ss-102{color: rgb(102,102,102);margin-top: 0.2rem;}
.service_select .ss-153{color: rgb(153,153,153);}
.service_select .ss-red{color: rgb(242,48,49);}
.service_select .ss-select-list{background: url(../img/ss_service_icon.png) no-repeat;position: relative;
background-size: 1.7rem;background-position: 100% 37.5%;background-color: #FFFFFF;font-size: 0.8235rem;
border-bottom: 1px solid rgb(217,217,217);
}
.service_select .ss-left-17647{margin-left: 1.7955rem;}
.service_select .ss-icon{width: 1.5rem;height:1.5rem;background: url(../img/ss_service_icon.png) no-repeat;
position: absolute;top: 1.3rem;left: 0.7333rem;background-size: 1.5rem;
background-position: 0 0;
}
.service_select .ss-icon-tui{background-position: 0 19.5%;}


/*售后列表*/
.service-list .sl-list{background: #FFFFFF;margin-bottom: 0.7647rem;}
.service-list .ss-tip{position: relative;text-indent: 1.8rem;padding: 1.088rem 0.7333rem;}
.service-list .ss-tip .ss-tip-icon{position: absolute;width: 1.5rem;height: 1.5rem;
background: url(../img/ss_service_icon.png) no-repeat;background-size: 1.5rem;
}
.service-list .ss-tip button{border: 1px solid rgb(53,53,53);;background-color: #FFFFFF;font-size: 0.8823rem;
padding:0.4411rem 0.7352rem;position: absolute;top: 0.584rem;right: 0.7333rem;
border-radius: 0.3rem;-webkit-border-radius: 0.3rem;cursor: pointer;
}
/*售后列表---end*/

/*申请退货表单提交*/
.service_submit{background: #FFFFFF;}
.service_submit .sub-price{margin-top: 0.7588rem;}
.service_submit .sub-price input[type="text"]{color: rgb(153,153,153);border: 1px solid rgb(153,153,153);
background-color: #FFFFFF;font-size: 0.8223rem;padding: 0.58823rem 0;text-indent: 0.8823rem;width: 75%;
}
.service_submit .sub-message{height: 3rem;margin-top: 0.7588rem;overflow: scroll;outline: none;}
.service_submit .sub-message::-webkit-scrollbar{
	width: 0px;
}
.service_submit .ss-imgUp{width: 2.9411rem;height: 2.9411rem;background: url(../img/ss_service_icon.png) no-repeat;
background-size:2.8rem auto;background-position: 0 78.5%;overflow: hidden;
}
.service_submit .ss-imgUp input[type="file"]{width: 100%;height: 100%;outline: none;cursor: pointer;opacity: 0;}
.service_submit .ss-btn{padding: 1.47rem 0.7333rem 0.7333rem 0.7333rem;background: rgb(245,245,245);}
.service_submit .ss-btn button{background-color: rgb(242,48,49);color: white;width: 100%;padding: 0.8rem 0;font-size: 0.8rem;}
/*.service_submit .sub-message textarea{border: none;width: 100%;height: 3rem;}*/
/*申请退货表单提交--end*/

/*申请退货进度--status*/
.status{font-size: 0.8823rem;}
.status .status-head{background-color: rgb(242,48,49);color: white;}
.status .status-head .sh-title{font-size: 0.9411rem;margin: 0.5882rem 0;}
.status .sh-con{font-size: 0.71rem;margin: 0.5882rem 0;}
.status .sh-btn{text-align: right;margin-top: 0.7588rem;}
.status .sh-btn button{
	border: 1px solid rgb(53,53,53);;background-color: #FFFFFF;font-size: 0.8235rem;
padding:0.4411rem 0.7352rem;margin-left: 0.4rem;
border-radius: 0.3rem;-webkit-border-radius: 0.3rem;cursor: pointer;
}
.status .sh-info-list{padding-bottom:0.52rem;color: rgb(102,102,102);}
/*申请退货进度--status-end*/

/*填写物流信息*/
.logistics{background: #FFFFFF;font-size: 0.8823rem;}
.logistics .color-red{color: rgb(242,48,49);}
.logistics select,input[type="text"]{appearance: none;-webkit-appearance: none;-moz-appearance: none;border: none;color: rgb(153,153,153);
font-family: "microsoft yahei";font-size: 0.7223rem;width: 100%;height: 100%;padding: 0.4911rem 0;text-indent:0.5rem;
}
.logistics .pd411{padding: 0.4111rem 0;}
.logistics .border{box-shadow: 0 0 0 1px rgb(217,217,217);-webkit-box-shadow: 0px 0px 0 1px rgb(217,217,217);

}
.logistics select{background: url(../img/ss_service_icon.png) no-repeat;background-size:1.5rem auto;
background-position: 100% 57.8%;
}
.logistics .list{padding: 0.58823rem 0.7333rem;}
.logistics .btn{padding: 1.47rem 0.7333rem 0.7333rem 0.7333rem;background: rgb(245,245,245);}
.logistics .btn button{background-color: rgb(242,48,49);color: white;width: 100%;padding: 0.8rem 0;font-size: 0.8rem;}









