<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" href="css/common.css" />
		<link rel="stylesheet" href="css/module.css" />
		<link rel="stylesheet" href="css/other.css"  />
	</head>
	<body>
		<div class="wrap rechange" id="rechange">
			<div class="public-back-wrap">
				<a class="public-back-a" onclick="window.history.back()"></a>
				在线充值
				<a class="public-edi" href="rechange-record.html">充值记录</a>
			</div>
			
			<div class="re-item">
				<div class="rechange-money">充值金额</div>
				<div class="rechange-val">
					<input type="text" class="br-2" v-model="money"/>
					<button type="button" class="br-2" @click="rechange">充值</button>
				</div>
			</div>
			
			<div class="re-floor"></div>
			<div class="re-item">
				<div class="rechange-money">充值优惠</div>
				<ul class="re-list">
					<li v-for="(item,index) in rechange_number" @click="toggleActive(index)">
						{{item.price}}元
						<div>送{{item.send}}元</div>
					</li>
					
				</ul>
			</div>
		</div>
		
		
		<script type="text/javascript" src="js/font-initial.js" ></script>
		<script type="text/javascript" src="js/moudle.js" ></script>
		<script type="text/javascript" src="js/vue.min.js" ></script>
		<script type="text/javascript" src="js/vue-resource.min.js" ></script>
		
		<script>
			new Vue({
				el:"#rechange",
				data:{
					money:"",//充值金额
					//充值面值数据
					rechange_number:[
						{price:50,send:5},
						{price:50,send:5},
						{price:50,send:5},
						{price:50,send:5},
						{price:500,send:5}
					]
				},
				ready:function(){
					console.log("1");
				},
				methods:{
					toggleActive:function(obj){
					},
					//充值按钮点击事件
					rechange:function(){
						//正则验证--文本框的值--文本框为空--文本框输入格式不正确
						if(check_integer(this.money,"请输入充值金额","请输入正整数")==false){
							return false;
						}
					}
				}
				
			})
		</script>
	</body>
</html>
