<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="Bookmark" href="/favicon.ico" >
<link rel="Shortcut Icon" href="/favicon.ico" />

<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="static/h-ui.admin/css/style.css" />
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<!--/meta 作为公共模版分离出去-->
    <script src="js/vue.min.js"></script>
    <script src="js/vue-resource.min.js"></script>
<style>
.tip{color: red;}
    .n-user{
        position: relative;}
.cl{margin-bottom: 10px;}
    #check_user{position:absolute;right: 10px;top: 0}
</style>
<title>添加账号</title>
</head> 
<body>
<article class="page-container" id="app">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>设置登入名：</label>
			<div class="formControls col-xs-8 col-sm-9 n-user">
				<input type="text" class="input-text" v-model="check.account" @blur="check_input">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3" style="visibility: hidden;"><span class="c-red">*</span>设置登入名：</label>
			<div class="formControls col-xs-8 col-sm-9 n-user tip">
				{{tip.tip_account}}
			</div>
		</div>
		
		
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>您的姓名：</label>
			<div class="formControls col-xs-8 col-sm-9 n-user">
				<input type="text" class="input-text"  v-model="check.name" @blur="check_input">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3" style="visibility: hidden;"><span class="c-red">*</span>设置登入名：</label>
			<div class="formControls col-xs-8 col-sm-9 n-user tip">
				{{tip.tip_name}}
			</div>
		</div>
		
		
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>您的手机号码：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text"  v-model="check.phone" @blur="check_input">
            </div>
        </div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3" style="visibility: hidden;"><span class="c-red">*</span>设置登入名：</label>
			<div class="formControls col-xs-8 col-sm-9 n-user tip">
				{{tip.tip_phone}}
			</div>
		</div>
		
		
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>设置密码：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="password" class="input-text" v-model="check.passwords" @blur="check_input">
            </div>
        </div>
        <div class="row cl">
			<label class="form-label col-xs-4 col-sm-3" style="visibility: hidden;"><span class="c-red">*</span>设置登入名：</label>
			<div class="formControls col-xs-8 col-sm-9 n-user tip">
				{{tip.tip_passwords}}
			</div>
		</div>
		

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>确认密码：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="password" class="input-text" v-model="check.comfirm_password" @blur="check_input">
            </div>
        </div>
        <div class="row cl">
			<label class="form-label col-xs-4 col-sm-3" style="visibility: hidden;"><span class="c-red">*</span>设置登入名：</label>
			<div class="formControls col-xs-8 col-sm-9 n-user tip">
				{{tip.tip_comfirm_password}}
			</div>
		</div>
		
		


		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">角色名称：</label>
			<div class="formControls col-xs-8 col-sm-9">
               <select id="roldid" @change="check_input">
               		<option>--请选择--</option>
               		<option v-for="item in pots" value="{{item._id}}">{{item.name}}</option>
               </select>
            </div>
		</div>
		
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3" style="visibility: hidden;"><span class="c-red">*</span>设置登入名：</label>
			<div class="formControls col-xs-8 col-sm-9 n-user tip">
				{{tip.tip_selects}}
			</div>
		</div>
		
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<button type="submit" class="btn btn-success radius" v-on:click="save_account"><i class="icon-ok"></i> 确定</button>
			</div>
		</div>
</article>

<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="static/h-ui/js/H-ui.min.js"></script> 
<script type="text/javascript" src="static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript" src="js/md5.min.js"></script>
<script type="text/javascript" src="js/tan.js" ></script>
<script>

Vue.http.options.emulateJSON = true;
    Vue.http.options.headers = {
        'Content-Type': 'application/x-www-form-urlencoded;charset=UTF-8'
    };
    Vue.http.options.headers = {
        'authorization': sessionStorage.token_name
    };
new Vue({
	el:"#app",
	data:{
		url_getPower:"http://www.qubitrich.com/pc/role/list",//获取角色
		url_account_add:"http://www.qubitrich.com/pc/account/create",//创建角色地址
		pots:{},
		check:{
			account:"",
			name:"",
			phone:"",
			passwords:"",
			comfirm_password:""
		},
		tip:{
			tip_account:"",
			tip_name:"",
			tip_phone:"",
			tip_passwords:"",
			tip_comfirm_password:"",
			tip_selects:""
		}
	},
	ready:function(){
		this.$http.post(this.url_getPower).then(function(res){
			this.pots=res.data.result.data;
		})
	}, 
	methods:{
		check_input:function(){
			var check_account = /^([a-z]|[A-Z])+([a-z]|[A-Z]|[0-9]){5,17}$/;
			var check_name = /^([\u4e00-\u9fa5]+|[a-zA-Z0-9]+)$/;
			var check_phone = /^0?(13[0-9]|15[012356789]|17[013678]|18[0-9]|14[57])[0-9]{8}$/;
			var check_num = /^[1-9]\d*$/;
			var roldid = document.getElementById("roldid").value;
			
			if(!check_account.test(this.check.account)){
				this.tip.tip_account="格式不正确！用户名由数字、字母组成，长度为6-18位。且不能为数字开头"
				return false;
			}
			if(!check_name.test(this.check.name)){
				this.tip.tip_account="";
				this.tip.tip_name="不能输入特殊字符"
				return false;
			}
			if(!check_phone.test(this.check.phone)){
				this.tip.tip_name="";
				this.tip.tip_phone="请输入正确的手机号码";
				return false;
			}
			if(this.check.passwords==this.check.account){
				this.tip.tip_phone="";
				this.tip.tip_passwords="密码不能用户名不能一样"
				return false;
			}
			if(!check_account.test(this.check.passwords)){
				this.tip.tip_phone="";
				this.tip.tip_passwords="格式不正确！密码由数字、字母组成，长度为6-18位。且不能为数字开头"
				return false;
			}
			if(this.check.comfirm_password !=this.check.passwords){
				this.tip.tip_passwords="";
				this.tip.tip_comfirm_password="两次输入不一样";
				return false;
			}
			if(!check_num.test(roldid)){
				this.tip.tip_comfirm_password="";
				this.tip.tip_selects="请选择"
				return false;
			}
		},
		save_account:function(){
			var check_account = /^([a-z]|[A-Z])+([a-z]|[A-Z]|[0-9]){5,17}$/;
			var check_name = /^([\u4e00-\u9fa5]+|[a-zA-Z0-9]+)$/;
			var check_phone = /^0?(13[0-9]|15[012356789]|17[013678]|18[0-9]|14[57])[0-9]{8}$/;
			var check_num = /^[1-9]\d*$/;
			var roldid = document.getElementById("roldid").value;
			
			if(!check_account.test(this.check.account)){
				this.tip.tip_account="格式不正确！用户名由数字、字母组成，长度为6-18位。且不能为数字开头"
				return false;
			}
			if(!check_name.test(this.check.name)){
				this.tip.tip_account="";
				this.tip.tip_name="不能输入特殊字符"
				return false;
			}
			if(!check_phone.test(this.check.phone)){
				this.tip.tip_name="";
				this.tip.tip_phone="请输入正确的手机号码";
				return false;
			}
			if(this.check.passwords==this.check.account){
				this.tip.tip_phone="";
				this.tip.tip_passwords="密码不能用户名不能一样"
				return false;
			}
			if(!check_account.test(this.check.passwords)){
				this.tip.tip_phone="";
				this.tip.tip_passwords="格式不正确！密码由数字、字母组成，长度为6-18位。且不能为数字开头"
				return false;
			}
			if(this.check.comfirm_password !=this.check.passwords){
				this.tip.tip_passwords="";
				this.tip.tip_comfirm_password="两次输入不一样";
				return false;
			}
			if(!check_num.test(roldid)){
				this.tip.tip_selects="请选择"
				return false;
			}
			this.tip.tip_selects="";
			var hash_password = md5(this.check.passwords);
			this.$http.post(this.url_account_add,{
				account:this.check.account,
				password:hash_password,
				name:this.check.name,
				telephone:this.check.phone,
				roleId:roldid}
			).then(function(res){
				if(res.data.code=="0"){
					sc_show(res.data.result);
					var t = setTimeout(function(){
				   		parent.location.reload();t=null;
				   	},1000)
				}
				if(res.data.code=="ER_DUP_ENTRY"){
					
					var result = res.data.errorInfo;
					var errspl = result.split("telephone").length;
					var errsp2 = result.split("account").length;
					
					
					if(errsp2==2){console.log(errsp2);
						
						this.tip.tip_phone="";
						this.tip.tip_account="账号存在";
						//return false;
					}else{
						 if(errspl==2){console.log(errsp2);
							
							this.tip.tip_account="";
							this.tip.tip_phone="该手机号码已存在"
							//return false;
						}
					}
					
					
					
				}
				

			  
			})
			
		}
	}
})
</script>

<script type="text/javascript">
$(function(){
	$(".permission-list dt input:checkbox").click(function(){
		$(this).closest("dl").find("dd input:checkbox").prop("checked",$(this).prop("checked"));
	});
	$(".permission-list2 dd input:checkbox").click(function(){
		var l =$(this).parent().parent().find("input:checked").length;
		var l2=$(this).parents(".permission-list").find(".permission-list2 dd").find("input:checked").length;
		if($(this).prop("checked")){

			$(this).closest("dl").find("dt input:checkbox").prop("checked",true);
			$(this).parents(".permission-list").find("dt").first().find("input:checkbox").prop("checked",true);
		}
		else{
			if(l==0){
				$(this).closest("dl").find("dt input:checkbox").prop("checked",false);
			}
			if(l2==0){
				$(this).parents(".permission-list").find("dt").first().find("input:checkbox").prop("checked",false);
			}
		}
	});
	
	$("#form-admin-role-add").validate({
		rules:{
			roleName:{
				required:true,
			},
		},
		onkeyup:false,
		focusCleanup:true,
		success:"valid",
		submitHandler:function(form){
			$(form).ajaxSubmit();
			var index = parent.layer.getFrameIndex(window.name);
			parent.layer.close(index);
		}
	});
});
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>