<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="lib/html5shiv.js"></script>
    <script type="text/javascript" src="lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="static/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="static/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="static/h-ui.admin/css/style.css" />
    <!--[if IE 6]>
    <script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>代理列表</title>
    <link rel="stylesheet" href="css/css.css" />
    <script type="text/javascript" src="js/vue.min.js"></script>
      <script src="js/vue-resource.min.js"></script>
      
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i>
	 首页 <span class="c-gray en">&gt;</span> 
	 代理列表<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container " id="app">

    <table class="table table-border table-bordered table-hover table-bg agent-list">
        <thead>
        <tr>
            <th scope="col" colspan="9">代理列表<span style="color: red;margin-left: 15px;">双击可以进行修改</span></th>
        </tr>
        <tr class="text-c">

            <th width="100">代理级别</th>
            <th width="200" v-for="item in pots">{{$index+1}}级</th>
            
        </tr>
        </thead>
        <tbody>
        <tr class="text-c">
            <td>投资金额</td>
            <td><input type="text" v-model="pots.level1.investment" readonly="readonly" @dblclick="change_val($event)"><span>美金</span></td>
            <td><input type="text" v-model="pots.level2.investment" readonly="readonly" @dblclick="change_val($event)"><span>美金</span></td>
            <td><input type="text" v-model="pots.level3.investment" readonly="readonly" @dblclick="change_val($event)"><span>美金</span></td>
            <td><input type="text" v-model="pots.level4.investment" readonly="readonly" @dblclick="change_val($event)"><span>美金</span></td>
            <td><input type="text" v-model="pots.level5.investment" readonly="readonly" @dblclick="change_val($event)"><span>美金</span></td>
            <td><input type="text" v-model="pots.level6.investment" readonly="readonly" @dblclick="change_val($event)"><span>美金</span></td>
            <td><input type="text" v-model="pots.level7.investment" readonly="readonly" @dblclick="change_val($event)"><span>美金</span></td>
        </tr>
        <tr class="text-c">
            <td>直推要求</td>
            <td><input type="text" v-model="pots.level1.pushRequire" readonly="readonly" @dblclick="change_val($event)"><span>美金</span></td>
            <td><input type="text" v-model="pots.level2.pushRequire" readonly="readonly" @dblclick="change_val($event)"><span>美金</span></td>
            <td><input type="text" v-model="pots.level3.pushRequire" readonly="readonly" @dblclick="change_val($event)"><span>美金</span></td>
            <td><input type="text" v-model="pots.level4.pushRequire" readonly="readonly" @dblclick="change_val($event)"><span>美金</span></td>
            <td><input type="text" v-model="pots.level5.pushRequire" readonly="readonly" @dblclick="change_val($event)"><span>美金</span></td>
            <td><input type="text" v-model="pots.level6.pushRequire" readonly="readonly" @dblclick="change_val($event)"><span>美金</span></td>
            <td><input type="text" v-model="pots.level7.pushRequire" readonly="readonly" @dblclick="change_val($event)"><span>美金</span></td>
        </tr>
        <tr class="text-c">
            <td>奖金日封顶</td>
            <td><input type="text" v-model="pots.level1.bonusCelling" readonly="readonly" @dblclick="change_val($event)"><span>美金</span></td>
            <td><input type="text" v-model="pots.level2.bonusCelling" readonly="readonly" @dblclick="change_val($event)"><span>美金</span></td>
            <td><input type="text" v-model="pots.level3.bonusCelling" readonly="readonly" @dblclick="change_val($event)"><span>美金</span></td>
            <td><input type="text" v-model="pots.level4.bonusCelling" readonly="readonly" @dblclick="change_val($event)"><span>美金</span></td>
            <td><input type="text" v-model="pots.level5.bonusCelling" readonly="readonly" @dblclick="change_val($event)"><span>美金</span></td>
            <td><input type="text" v-model="pots.level6.bonusCelling" readonly="readonly" @dblclick="change_val($event)"><span>美金</span></td>
            <td><input type="text" v-model="pots.level7.bonusCelling" readonly="readonly" @dblclick="change_val($event)"><span>美金</span></td>
        </tr>
        
         <tr class="text-c">
            <td>1层</td>
            <td>
            	<input type="text" v-model="pots.level1.profitsRate.layer1" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td v-if="pots.level2.profitsRate.layer1">
            	<input type="text" v-model="pots.level2.profitsRate.layer1" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level3.profitsRate.layer1" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level4.profitsRate.layer1" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level5.profitsRate.layer1" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level6.profitsRate.layer1" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level7.profitsRate.layer1" readonly="readonly" @dblclick="change_val($event)">
            </td>
        </tr>
        
        <tr class="text-c">
            <td style="color: red;">2层</td>
            <td>
            	<input type="text" v-model="pots.level1.profitsRate.layer2" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level2.profitsRate.layer2" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level3.profitsRate.layer2" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level4.profitsRate.layer2" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level5.profitsRate.layer2" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level6.profitsRate.layer2" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level7.profitsRate.layer2" readonly="readonly" @dblclick="change_val($event)">
            </td>
        </tr>
        <tr class="text-c">
            <td>3层</td>
            <td>
            	<input type="text" v-model="pots.level1.profitsRate.layer3" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level2.profitsRate.layer3" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level3.profitsRate.layer3" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level4.profitsRate.layer3" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level5.profitsRate.layer3" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level6.profitsRate.layer3" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level7.profitsRate.layer3" readonly="readonly" @dblclick="change_val($event)">
            </td>
        </tr>
       
       <tr class="text-c">
            <td>4层</td>
            <td>
            	<input type="text" v-model="pots.level1.profitsRate.layer4" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level2.profitsRate.layer4" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level3.profitsRate.layer4" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level4.profitsRate.layer4" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level5.profitsRate.layer4" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level6.profitsRate.layer4" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level7.profitsRate.layer4" readonly="readonly" @dblclick="change_val($event)">
            </td>
        </tr>
        
        <tr class="text-c">
            <td style="color: red;">5层</td>
            <td>
            	<input type="text" v-model="pots.level1.profitsRate.layer5" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level2.profitsRate.layer5" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level3.profitsRate.layer5" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level4.profitsRate.layer5" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level5.profitsRate.layer5" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level6.profitsRate.layer5" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level7.profitsRate.layer5" readonly="readonly" @dblclick="change_val($event)">
            </td>
        </tr>
        
        <tr class="text-c">
            <td>6层</td>
            <td>
            	<input type="text" v-model="pots.level1.profitsRate.layer6" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level2.profitsRate.layer6" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level3.profitsRate.layer6" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level4.profitsRate.layer6" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td v-if="pots.level5.profitsRate.layer6">
            	<input type="text" v-model="pots.level5.profitsRate.layer6" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level6.profitsRate.layer6" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level7.profitsRate.layer6" readonly="readonly" @dblclick="change_val($event)">
            </td>
        </tr>
        
        
        <tr class="text-c">
            <td>7层</td>
            <td>
            	<input type="text" v-model="pots.level1.profitsRate.layer7" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level2.profitsRate.layer7" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level3.profitsRate.layer7" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level4.profitsRate.layer7" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level5.profitsRate.layer7" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level6.profitsRate.layer7" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level7.profitsRate.layer7" readonly="readonly" @dblclick="change_val($event)">
            </td>
        </tr>
       <tr class="text-c">
            <td>8层</td>
            <td>
            	<input type="text" v-model="pots.level1.profitsRate.layer8" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level2.profitsRate.layer8" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level3.profitsRate.layer8" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td >
            	<input type="text" v-model="pots.level4.profitsRate.layer8" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level5.profitsRate.layer8" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level6.profitsRate.layer8" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level7.profitsRate.layer8" readonly="readonly" @dblclick="change_val($event)">
            </td>
        </tr>
       <tr class="text-c">
            <td>9层</td>
            <td>
            	<input type="text" v-model="pots.level1.profitsRate.layer9" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level2.profitsRate.layer9" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level3.profitsRate.layer9" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level4.profitsRate.layer9" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level5.profitsRate.layer9" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level6.profitsRate.layer9" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level7.profitsRate.layer9" readonly="readonly" @dblclick="change_val($event)">
            </td>
        </tr>
        
         <tr class="text-c">
            <td style="color: red;">10层</td>
            <td>
            	<input type="text" v-model="pots.level1.profitsRate.layer10" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level2.profitsRate.layer10" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level3.profitsRate.layer10" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level4.profitsRate.layer10" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level5.profitsRate.layer10" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level6.profitsRate.layer10" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level7.profitsRate.layer10" readonly="readonly" @dblclick="change_val($event)">
            </td>
        </tr>
        
         <tr class="text-c">
            <td>11层</td>
            <td>
            	<input type="text" v-model="pots.level1.profitsRate.layer11" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level2.profitsRate.layer11" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level3.profitsRate.layer11" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level4.profitsRate.layer11" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level5.profitsRate.layer11" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level6.profitsRate.layer11" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level7.profitsRate.layer11" readonly="readonly" @dblclick="change_val($event)">
            </td>
        </tr>
        
         <tr class="text-c">
            <td>12层</td>
            <td>
            	<input type="text" v-model="pots.level1.profitsRate.layer12" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level2.profitsRate.layer12" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level3.profitsRate.layer12" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level4.profitsRate.layer12" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level5.profitsRate.layer12" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level6.profitsRate.layer12" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level7.profitsRate.layer12" readonly="readonly" @dblclick="change_val($event)">
            </td>
        </tr>
        
         <tr class="text-c">
            <td style="color: red;">13层</td>
            <td>
            	<input type="text" v-model="pots.level1.profitsRate.layer13" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level2.profitsRate.layer13" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level3.profitsRate.layer13" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level4.profitsRate.layer13" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level5.profitsRate.layer13" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level6.profitsRate.layer13" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level7.profitsRate.layer13" readonly="readonly" @dblclick="change_val($event)">
            </td>
        </tr>
        
         <tr class="text-c">
            <td>14层</td>
            <td>
            	<input type="text" v-model="pots.level1.profitsRate.layer14" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level2.profitsRate.layer14" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level3.profitsRate.layer14" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level4.profitsRate.layer14" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level5.profitsRate.layer14" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level6.profitsRate.layer14" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level7.profitsRate.layer14" readonly="readonly" @dblclick="change_val($event)">
            </td>
        </tr>
        
         <tr class="text-c">
            <td>15层</td>
            <td>
            	<input type="text" v-model="pots.level1.profitsRate.layer15" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level2.profitsRate.layer15" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td >
            	<input type="text" v-model="pots.level3.profitsRate.layer15" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td >
            	<input type="text" v-model="pots.level4.profitsRate.layer15" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level5.profitsRate.layer15" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level6.profitsRate.layer15" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level7.profitsRate.layer15" readonly="readonly" @dblclick="change_val($event)">
            </td>
        </tr>
        
         <tr class="text-c">
            <td style="color: red;">16层</td>
            <td>
            	<input type="text" v-model="pots.level1.profitsRate.layer16" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level2.profitsRate.layer16" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level3.profitsRate.layer16" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level4.profitsRate.layer16" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level5.profitsRate.layer16" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level6.profitsRate.layer16" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level7.profitsRate.layer16" readonly="readonly" @dblclick="change_val($event)">
            </td>
        </tr>
        
         <tr class="text-c">
            <td>17层</td>
            <td>
            	<input type="text" v-model="pots.level1.profitsRate.layer17" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level2.profitsRate.layer17" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level3.profitsRate.layer17" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level4.profitsRate.layer17" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level5.profitsRate.layer17" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level6.profitsRate.layer17" readonly="readonly" @dblclick="change_val($event)" >
            </td>
            <td>
            	<input type="text" v-model="pots.level7.profitsRate.layer17" readonly="readonly" @dblclick="change_val($event)">
            </td>
        </tr>
        
         <tr class="text-c">
            <td>18层</td>
            <td>
            	<input type="text" v-model="pots.level1.profitsRate.layer18" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level2.profitsRate.layer18" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level3.profitsRate.layer18" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level4.profitsRate.layer18" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level5.profitsRate.layer18" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level6.profitsRate.layer18" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level7.profitsRate.layer18" readonly="readonly" @dblclick="change_val($event)">
            </td>
        </tr>
        
        <tr class="text-c">
            <td style="color: red;">19层</td>
            <td>
            	<input type="text" v-model="pots.level1.profitsRate.layer19" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level2.profitsRate.layer19" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level3.profitsRate.layer19" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level4.profitsRate.layer19" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level5.profitsRate.layer19" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level6.profitsRate.layer19" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level7.profitsRate.layer19" readonly="readonly" @dblclick="change_val($event)">
            </td>
        </tr>
        
        <tr class="text-c">
            <td>20层</td>
            <td>
            	<input type="text" v-model="pots.level1.profitsRate.layer20" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level2.profitsRate.layer20" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level3.profitsRate.layer20" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level4.profitsRate.layer20" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level5.profitsRate.layer20" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level6.profitsRate.layer20" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level7.profitsRate.layer20" readonly="readonly" @dblclick="change_val($event)">
            </td>
        </tr>
        <tr class="text-c">
            <td>21层</td>
            <td>
            	<input type="text" v-model="pots.level1.profitsRate.layer21" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level2.profitsRate.layer21" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level3.profitsRate.layer21" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level4.profitsRate.layer21" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level5.profitsRate.layer21" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level6.profitsRate.layer21" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level7.profitsRate.layer21" readonly="readonly" @dblclick="change_val($event)">
            </td>
        </tr>
        <tr class="text-c">
            <td>22层</td>
            <td>
            	<input type="text" v-model="pots.level1.profitsRate.layer22" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level2.profitsRate.layer22" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level3.profitsRate.layer22" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level4.profitsRate.layer22" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level5.profitsRate.layer22" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level6.profitsRate.layer22" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level7.profitsRate.layer22" readonly="readonly" @dblclick="change_val($event)">
            </td>
        </tr>
        
        <tr class="text-c">
            <td>23层</td>
            <td>
            	<input type="text" v-model="pots.level1.profitsRate.layer23" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level2.profitsRate.layer23" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level3.profitsRate.layer23" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level4.profitsRate.layer23" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level5.profitsRate.layer23" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level6.profitsRate.layer23" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level7.profitsRate.layer23" readonly="readonly" @dblclick="change_val($event)">
            </td>
        </tr>
        
        <tr class="text-c">
            <td>24层</td>
            <td>
            	<input type="text" v-model="pots.level1.profitsRate.layer24" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level2.profitsRate.layer24" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level3.profitsRate.layer24" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level4.profitsRate.layer24" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level5.profitsRate.layer24" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level6.profitsRate.layer24" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level7.profitsRate.layer24" readonly="readonly" @dblclick="change_val($event)">
            </td>
        </tr>
        
        <tr class="text-c">
            <td>25层</td>
            <td>
            	<input type="text" v-model="pots.level1.profitsRate.layer25" readonly="readonly" @dblclick="change_val($event)">
            </td>
            <td>
            	<input type="text" v-model="pots.level2.profitsRate.layer25" readonly="readonly" @dblclick="change_val($event)" >
            </td>
            <td>
            	<input type="text" v-model="pots.level3.profitsRate.layer25" readonly="readonly" @dblclick="change_val($event)" >
            </td>
            <td>
            	<input type="text" v-model="pots.level4.profitsRate.layer25" readonly="readonly" @dblclick="change_val($event)" >
            </td>
            <td>
            	<input type="text" v-model="pots.level5.profitsRate.layer25" readonly="readonly" @dblclick="change_val($event)" >
            </td>
            <td>
            	<input type="text" v-model="pots.level6.profitsRate.layer25" readonly="readonly" @dblclick="change_val($event)" >
            </td>
            <td>
            	<input type="text" v-model="pots.level7.profitsRate.layer25" readonly="readonly" @dblclick="change_val($event)" >
            </td>
        </tr>
         <tr>
            <th scope="col" colspan="9"><button class="updata_btn" v-on:click="updata">更新</button><span>{{tip}}</span></th>
        </tr>
        </tbody>
    </table>
</div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->
<script type="text/javascript" src="js/tan.js" ></script>

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript">
Vue.http.options.emulateJSON = true;
    Vue.http.options.headers = {
        'Content-Type': 'application/x-www-form-urlencoded;charset=UTF-8'
    };
    Vue.http.options.headers = {
        'authorization': sessionStorage.token_name
    };
    new Vue({
        el:"#app",
        data:{
            list:[
                {name:"投资金额",  one:"500美金",two:"1000美金",three:"3000美金",four:"5000美金",five:"6000美金",six:"8000美金",final:"1万美金",color:""},
                {name:"直推要求",  one:"1000美金",two:"5000美金",three:"1万美金",four:"3万美金",five:"5万美金",six:"20万美金",final:"50万美金",color:""},
                {name:"奖金日封顶",one:"500美金",two:"1000美金",three:"3000美金",four:"5000美金",five:"6000美金",six:"8000美金",final:"1万美金",color:""},
                {name:"1层",one:"5%",two:"10%", three:"20%",four:"30%",five:"50%",six:"50%",final:"50%",color:""},
                {name:"2层",one:"1%",two:"5%", three:"10%",four:"15%",five:"20%",six:"20%",final:"20%",color:"red"},
                {name:"3层",one:"",  two:"5%", three:"10%",four:"10%",five:"10%",six:"10%",final:"10%",color:""},
                {name:"4层",one:"",  two:"2%", three:"5%",four:"10%",five:"10%",six:"10%",final:"10%",color:""},
                {name:"5层",one:"",  two:"2%", three:"5%",four:"10%",five:"10%",six:"10%",final:"10%",color:"red"},
                {name:"6层",one:"",  two:"",   three:"5%",four:"5%",five:"5%",six:"5%",final:"5%",color:""},
                {name:"7层",one:"",  two:"",   three:"5%",four:"5%",five:"5%",six:"5%",final:"5%",color:""},
                {name:"8层",one:"",  two:"",   three:"2%",four:"5%",five:"5%",six:"5%",final:"5%",color:""},
                {name:"9层",one:"",  two:"",   three:"2%",four:"5%",five:"5%",six:"5%",final:"5%",color:""},
                {name:"10层",one:"",  two:"",   three:"2%",four:"5%",five:"5%",six:"5%",final:"5%",color:"red"},
                {name:"11层",one:"",  two:"",   three:"",four:"1%",five:"1%",six:"1%",final:"1%",color:""},
                {name:"12层",one:"",  two:"",   three:"",four:"1%",five:"1%",six:"1%",final:"1%",color:""},
                {name:"13层",one:"",  two:"",   three:"",four:"1%",five:"1%",six:"1%",final:"1%",color:"red"},
                {name:"14层",one:"",  two:"",   three:"",four:"",five:"1%",six:"1%",final:"1%",color:""},
                {name:"15层",one:"",  two:"",   three:"",four:"",five:"1%",six:"1%",final:"1%",color:""},
                {name:"16层",one:"",  two:"",   three:"",four:"",five:"1%",six:"1%",final:"1%",color:"red"},
                {name:"17层",one:"",  two:"",   three:"",four:"",five:"",six:"1%",final:"1%",color:""},
                {name:"18层",one:"",  two:"",   three:"",four:"",five:"",six:"1%",final:"1%",color:""},
                {name:"19层",one:"",  two:"",   three:"",four:"",five:"",six:"1%",final:"1%",color:"red"},
                {name:"20层",one:"",  two:"",   three:"",four:"",five:"",six:"",final:"1%",color:""},
                {name:"21层",one:"",  two:"",   three:"",four:"",five:"",six:"",final:"1%",color:""},
                {name:"22层",one:"",  two:"",   three:"",four:"",five:"",six:"",final:"1%",color:""},
                {name:"23层",one:"",  two:"",   three:"",four:"",five:"",six:"",final:"1%",color:""},
                {name:"24层",one:"",  two:"",   three:"",four:"",five:"",six:"",final:"1%",color:""},
                {name:"25层",one:"",  two:"",   three:"",four:"",five:"",six:"",final:"1%",color:""}
            ],
            urls:"http://www.qubitrich.com/pc/parameter/getProfitsRate",
            urls_updata:"http://www.qubitrich.com/pc/parameter/updateProfitsRate",
            pots:{},
            check_code:true,
            tip:""
        },
        ready:function(){
        	this.$http.post(this.urls).then(function(res){
        		if(res.data.code=="E0003"){
                	window.location.href="re_login.html";
                }
				this.pots = res.data.result.parameterValue;
				
				//var a = JSON.stringify(this.pots);
        		// console.log(a)
        	})
        },
        methods:{
        	change_val:function(event){
        		event.defaultPrevented;
        		var this_readonly = event.currentTarget;
        		$(this_readonly).css("border","1px solid #5a98de")
        		$(this_readonly).removeAttr("readonly");
        		$(this_readonly).css("color","#5a98de")
        	},
        	updata:function(){
        		var that=this;
        		var check = /^[0-9]{3,10}$/
        		var check1 =/^[0]{1}(\.\d{0,2}){1}$/
        		var checknull = /^\s{0,}$/
        		if(this.check_code==true){
        			this.tip="";
        			var textNode =document.getElementsByTagName("input");
        			for(var i=0 ; i< textNode.length ; i++){
        				var getAttr = textNode[i].getAttribute("style");
        				if(getAttr){
        					if(checknull.test(textNode[i].value) || check.test(textNode[i].value) || check1.test(textNode[i].value)){
        						
        					}else{
        						this.tip="修改输入格式有误（资金为3-10位整数,收益率为0-1的1位到2位小数）";
        						console.log(textNode[i].value)
        						return false;
        					}
        					
        					
        				}
        			}
        			
        		
        			layer.confirm('确认更新么？',function(index){
	        			that.$http.post(that.urls_updata,{parameterValue:that.pots}).then(function(res){
						//this.pots = res.data.result.parameterValue;
						
	                    layer.msg('已更新',{icon:1,time:1000});
						var t=setTimeout(function(){
							window.history.go(0);
							t=null;
						},1000)
						
	        		})
	        		
	        		})
        		}else{
        			this.tip="修改输入格式有误"
        		}
        		
        		
        	}
        	
        }
    })
    /*管理员-角色-添加*/
    function admin_role_add(title,url,w,h){
        layer_show(title,url,w,h);
    }
    /*管理员-角色-编辑*/
    function admin_role_edit(title,url,id,w,h){
        layer_show(title,url,w,h);
    }
    /*管理员-角色-删除*/
    function admin_role_del(obj,id){
        layer.confirm('角色删除须谨慎，确认要删除吗？',function(index){
            $.ajax({
                type: 'POST',
                url: '',
                dataType: 'json',
                success: function(data){
                    $(obj).parents("tr").remove();
                    layer.msg('已删除!',{icon:1,time:1000});
                },
                error:function(data) {
                    console.log(data.msg);
                }
            });
        });
    }
</script>
</body>
</html>