#code{
    font-family:Arial,宋体;
            font-style:italic;
            color:green;
            border:0;
            padding:8px 10px;
    font-size: 18px;
            letter-spacing:5px;
            font-weight:bolder;height: 41px;
}
.verifyvt{width:360px;margin-left: 25%;
    line-height: 25px;padding-left: 5px;padding-right: 15px;
    color:rgb(220,50,50);}
#verifyvt{}


.admin-role .tip_phone{
    text-indent: 212px;
}

.page_wrap{
	width: 100%;
	text-align: center;
}
.page_wrap .count_wrap{display: inline-block;}
.page_wrap .count_wrap .count{display: inline-block;padding: 0 3px;}
.page_wrap .count_wrap .count:hover{cursor: pointer;color: rgb(90,152,222);}
.page_wrap .total_page{display: inline-block;}
.page_left{
	padding: 10px 0;
	display: inline-block;
}
.page_left .no_next{color: rgb(93,93,93);cursor: no-drop;cursor: -ms-no-drop;}
.page_tip{
	color: red;
	text-align: center;
}
.page_wrap button{appearance: none;-webkit-appearance: none;-moz-appearance: none;
-ms-progress-appearance: none;border: none;outline: none;
display: inline-block;color: rgb(90,152,222);text-decoration: underline;background: #fff;
padding: 5px 0;cursor: pointer;margin-right: 10px;
}

.page_right{
	display: inline-block;
}

#search_tip{color: red;}
.no_notes{padding: 5px 0;}
.page_right .skip_btn{
	text-decoration: none;background: rgb(90,152,222);color: white;
	-ms-border-radius:5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 5px 10px;
	margin-left: 5px;
	
	-webkit-transition: background-color 0.3s;
	-ms-transition:  background-color 0.3s;
	-moz-transition:  background-color 0.3s;
	transition:  background-color 0.3s;
}
.page_right .skip_btn:hover{
	 background-color: rgb(10,105,153);
}


.page_right input[type="number"]{
	width: 50px;
	margin: 0 5px;
}


.agent-list input[type="text"]{
	border: none;
	text-align: center;
	height: 100%;
	width: 80%;
	padding: 8px;
	background: rgba(255,255,255,0);
}
.agent-list td{position: relative;}
.agent-list td,tr{padding: 0;}
.agent-list td span{float: right;position: absolute;right: 15%;top: 5px;}
.agent-list .updata_btn{padding: 5px 20px;}


	.rm-updata .n-user{
        position: relative;}
    .rm-updata .n-user input[type="text"]{width: 80%}
    .rm-updata #check_user{position:absolute;right: 10px;top: 0}
    .rm-updata .power{margin-top: 20px;}
    .rm-updata .right15{margin-right: 10px;display: block;}
    .rm-updata .right15 span{display: inline-block;margin-left: 15px;}
    .rm-updata #tip_power{color: red;}
    .rm-updata .sec-nav{margin-left: 15px;}
    .rm-updata .first-nav{}



